/** CSS Showcase Arne Slabbinck **/



/** ALGEMEEN **/







html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    height: 100%;
    margin:0;
}
p {
    margin-top: 0px;
}
.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
/** WRAPPER **/

#wrapper {
    min-height: 100%;
    position: relative;
}
/*** MENU ***/

.doorloopgrijs {
    background-color: #333333;
}
.menu {
    list-style: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    float: right;
    color: white;
}
.menu ul {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
.menu li {
    display: inline;
}
.menu li a {
    position: relative;
    display: block;
    float: left;
    font-size: 1.3em;
    line-height: 20px;
    color: white;
    text-decoration: none;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}
.menu li a:hover {
    background-color: #16D0FF;
    color: #333333;
}
#active {
    background-color: #16D0FF;
    color: #333333;
}
/** INTRO **/

.doorloopblauw {
    height: auto;
    background-color: #16D0FF;
    min-height: 250px;
}
h1, h2 {
    color: #FFFFFF;
}
.intro {
    margin-top: 100px;
}
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 2em;
}
h1 {
    font-size: 5em;
    margin-top: 0.1em;
    margin-bottom: 0;
}
.schuin {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    margin-bottom: 4em;
    font-size: 1.5em;
    font-weight: normal;
    width: 560px;
    margin-top: 1em;/* width:560px; */
}
.arne {
    float: right;
    padding-right: 7em;
    padding-top: 1em;
}
.arne img {
    height: 190px;
    width: auto;
    border: 2px solid white;
    border-radius: 0.3em;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
/**************************** INHOUD ************************/

.middel {
    text-align: center;
    font-size: 1.8em;
    width: 500px;
    margin: 2em auto 0 auto;
    font-weight: normal;
}
.midden {
    overflow: auto;
    padding-bottom: 111px;
}
.inhoud {
    padding-bottom: 4em;
}
/***************************** PORTFOLIO ***********************/


h3, h4, h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: italic;
}
.work h2 {
    color: #333333;
    text-align: center;
}

.work h2 {
    text-align: left;
}
.work {
    font-size: 1.25em;
}
.work ul li {
    padding-bottom: 0.5em;
    height: 1.4em;
}
.work ul {
    list-style: none;
}
.work ul li a {
    text-decoration: none;
    width: 300px;
    line-height: 30px;
    color: #333333;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}
.work ul li a:hover {
    background-color: #16D0FF;
    color: white;
}
/************************* ABOUT ME *****************************/


.midden {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #323232;
}



/**=============================== SUB  MENU =============================**/

.subMenu {
    position: absolute;
    height: 50px;
    z-index: 1000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #62DFFF;
    top: 419px; /* grootte of bovenste menu balk (68) + header (362) - hoogte menu balk (50) */
    left: 1px;
    right: 1px;
}
.inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    font-size: 1.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
.subNavBtn {
    display: block;
    height: 35px;
    width: 12%;
    float: left;
    margin: 0px 0px 0 0;
    text-decoration: none;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #31707F;
}
.active {
    background-color: #109CBF;
    color: black;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.kol1, .kol2 {
    float: left;
}
.kol1 {
    width: 47%;
}
.kol2 {
    width: 50%;
}
.kol1 ul, .kol2 ul {
    list-style: none;
}
.tekst {
    float: left;
    margin-bottom:2em;
}
.cvpdf {
    float: right;
    padding-right: 6em;
    padding-top: 1em;
}
.cvpdf img {
    height: 170px;
    width: auto;
}
.opleidingen, .talenkennis, .referentie, .computerkennis, .werkervaring {
    margin-top:40px;
    margin-bottom:40px;
    max-width:800px;
}

.personalia {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.opleidingenM, .personaliaM{
    overflow:hidden;
}



.opleidingen h3, .talenkennis h3 {
    /*    color:#008cca;*/
    color:white;
    font-size:1.6em;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:0px;
}

.opleidingen h4 {
    margin-top:0px;
    color:#31707F;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.talenkennis h4{
    margin-top:10px;
    color:#31707F;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.opleidingen ul {
    list-style: none;
}

.werkervaring h3{
    color:#008cca;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:0px;
}

.werkervaring h4 {
    margin-top:0px;
    color:#31707F;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.werkervaring h5{
    color:#008cca;
    font-style:normal;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:0px;
}

.werkblok{
    margin-bottom:50px;
}

.werkervaring .werkblok2 h3{
    margin-bottom:20px;
}

.werkervaring .werkblok2 h4{
    margin-bottom:0px;
}

.werkervaring .werkblok2 h5{
    margin-top:0px;
    margin-bottom:10px;
}


.cv {
    font-size: 1.2em;
}
.cv h2 {
    color:#008cca;
    font-size:22px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
}

.cv ul {
    margin-top: 0;
}
.cv p {
    padding-left: 40px;
}
.cv > section {
    max-width: 100%;
}



/********* CHARTS ************/

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
}

.chart figcaption {
    padding: 50px 25px;
    width: 100px;
    height: 50px;
    border: 20px solid #f0f0f0;
    border-radius: 100px;
    line-height: 50px;
}

.chart img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
    top: 50px;
    left: 45px;
}

.html + svg .outer {
    stroke: #e34f26;
}

.css {
    top: 44px;
    left: 45px;
}

.css + svg .outer {
    stroke: #0d84ce;
}

.javascript {
    max-width: 90px;
    max-height: 90px;
    top: 45px;
    left: 45px;
}

.javascript + svg .outer {
    stroke: #f0e040;
}

.node {
    width: 200px;
    height: 200px;
    top: 45px;
    left: 45px;
}

.node + svg .outer {
    stroke: #83cd29;
}

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;

    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}

.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}

.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}

.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show100 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 134;
    }
}

@keyframes show75 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 124;
    }
}

@-webkit-keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 267;
    }
}

@keyframes show50 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 267;
    }
}

@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 401;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 537;
    }

    to {
        stroke-dashoffset: 401;
    }
}
/* END Keyframes for the initial animation */

/********* CONTACT ***********/


.form h3 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.gmaps {
    float: left;
    margin-top: 3.7em;
}
.gmaps iframe {
}
/** FORM **/
.form {
    float: right;
    width: 40%;
}
form div {
    zoom: 1;
    margin: 0.2em 0;
    padding: 0;
}
.contact input[type="email"], .contact input[type="text"] {
    width: 25em;
    min-height: 1em;
    padding: 0.7em 0.5em;
    margin: 0.5em 0;
    font-size: inherit;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
textarea {
    font-family: inherit;
    font-size: inherit;
    width: 25em;
    height: 10em;
    padding: 0.4em 0.5em;
    margin: 0.5em 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
label {
    /* algemeen, losse labels */
    float: none;
    display: block;
    min-height: 1.2em;
    padding: 0.3em 0;
    margin: 0;
    font-size: 1.2em;
    text-align: left;
}
form div label {
    /* labels in div */

    font-size: 1.5em;
    width: 10em;
    margin: 0;
    padding-right: 1em;
    text-align: left;
}
input[type=submit], button {
    background-color: #16D0FF;
    color: white;
    border: none;
    width: 19.3em;
    height: 3em;
    font-size: 1.3em;
    margin-top: 1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
/** FOOTER **/



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 111px;
}
.doorlooplicht {
    background-color: #292828;
    padding-top: 1em;
    padding-bottom: 1em;
}
.doorloopdonker {
    background-color: #222222;
    color: silver;
    text-align: center;
    padding-top: 1em;
}
.doorloopdonker p {
}
/** SOCIAL BADGES **/

.social {
    list-style: none;
    padding: 0;
    float: right;
    color: white;
}
.social a {
    position: relative;
    display: block;
    float: left;
    text-decoration: none;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.social img {
    width: 30px;
    height: auto;
}
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media print {
    p, li {
        font-size: 14px !important;
    }
    h1, h2, h3 {
        color: black !important;
    }
    h2 {
        text-align: left !important;
    }
    .noPrint {
        display: none !important;
    }
    section {
        padding: 0 !important;
    }
}
